## <font color="maroon"><h4 align="center">Handling Missing Data - replace method</font>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("weather_data.csv")
df

new_df = df.replace(-99999, value=np.NaN)
new_df

df
new_df = df.replace(to_replace=[-99999,-88888], value=0)
new_df

new_df = df.replace({
        'temperature': -99999,
        'windspeed': -99999,
        'event': 'no event'
    }, np.nan)
new_df

new_df = df.replace({
        -99999: np.nan,
        'no event': 'Sunny',
    })
new_df

df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])

        day  temperature  windspeed     event
0  1/1/2017           32          6      Rain
1  1/2/2017       -99999          7     Sunny
2  1/3/2017           28     -99999      Snow
3  1/4/2017       -99999          7  no event
4  1/5/2017           32     -99999      Rain
5  1/6/2017           31          2     Sunny
6  1/6/2017           34     -88888  no event